.transactions-table__header {
  th {
    color: #3f51b5; // TODO: import properly from material-ui palette 
    font-size: 1.25em;
    font-weight: bold;
  }
}

.transactions-table__body {
  tr:nth-of-type(odd) {
    background-color: #3f51b514;
  }
}