$theme-color: #3f51b5; // TODO: import properly from material-ui palette

.transactions-table--loading {
  margin: auto;
}

.transactions-table__header {
  th {
    color: $theme-color;
    font-size: 1.25em;
    font-weight: bold;
  }
}

.transactions-table__body {
  tr:nth-of-type(odd) {
    background-color: #3f51b514;
  }

  td {
    font-weight: 600;
  }
}

.transactions-table__muted-cell {
  opacity: 50%;
}

// Increase specificity - would like to do this better
.transactions-table__credit-cell.MuiTableCell-body {
  color: $theme-color;
}