//

html,
body,
.app-container,
.main-content {
  display: contents;
  min-height: 100vh;
}

html {
  font-size: 18px;
}

body {
  display: block;
  margin: 0;
}

//

.main.MuiContainer-root {
  background-color: #eaeaea;
  display: flex;
  min-width: 100%;
  padding: 10em 3em;
}

.page-header {
  height: 7em;
  margin: auto;
}
